.pagination {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 20rem;
  font-size: var(--font-default);
  &__item {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0.6;
    &:hover {
      opacity: 1;
      transform: scale(1.3);
    }
    &--active {
      opacity: 1;
      transform: scale(1.3);
    }
  }
}

[theme-pagination="light"] {
  background-color: var(--color-theme-light) !important;
  a {
    color: var(--color-theme-dark) !important;
  }
  transition: all 0.4s;
}
[theme-pagination="dark"] {
  background-color: var(--color-theme-dark) !important;
  a {
    color: var(--color-theme-light) !important;
  }

  transition: all 0.4s;
}
