.btn {
  &--light {
    background-color: var(--color-theme-light);
    color: var(--color-theme-dark);
    &::after {
      background-color: inherit;
    }
  }
  &--dark {
    background-color: var(--color-theme-dark);
    color: var(--color-theme-light);
    &::after {
      background-color: inherit;
    }
  }
  &,
  &:link,
  &:visited {
    text-decoration: none;
    border: none;
    padding: 1.5rem 7rem;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    // background-image: linear-gradient(
    //   to right bottom,
    //   var(--color-white-dark),
    //   var(--color-grey-light)
    // );
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);

    transition: all 0.2s;
    position: relative;
    &:hover {
      transform: translateY(-0.6rem);
      box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.4);
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 2rem;
      transition: all 0.4s;
      z-index: -1;
    }
    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
    &:active {
      transform: translateY(-0.4rem);
      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.3);
    }
    &:disabled {
      opacity: 0.5;
    }
    &:disabled:hover {
      transform: scale(1);
      box-shadow: none;
      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);
      cursor: not-allowed;
    }
    &:disabled:hover::after {
      transform: scale(1);
      box-shadow: none;
    }
  }
}

.btn-more--dark {
  &,
  &:link,
  &:visited {
    color: var(--color-theme-dark);
    text-decoration: none;
    font-weight: 600;
    padding: 0.7rem 1.3rem;
    border-bottom: 2.5px solid var(--color-theme-dark);
    transition: all 0.2s;
    &:hover {
      transform: translateY(-0.3rem);
      background-color: var(--color-theme-dark);
      color: var(--color-theme-light);
      box-shadow: 0.1rem 1rem 2rem rgba($color: #000000, $alpha: 0.4);
    }
    &:active {
      transform: translateY(-0.2rem);
      box-shadow: 0.2rem 0.6rem 1.5rem rgba($color: #000000, $alpha: 0.3);
    }
  }
}

.btn-more--light {
  &,
  &:link,
  &:visited {
    color: var(--color-theme-light);
    text-decoration: none;
    font-weight: 600;
    padding: 0.7rem 1.3rem;
    border-bottom: 2.5px solid var(--color-theme-light);
    transition: all 0.2s;
    &:hover {
      transform: translateY(-0.3rem);
      background-color: var(--color-theme-light);
      color: var(--color-theme-dark);
      box-shadow: 0.1rem 1rem 2rem rgba($color: #000000, $alpha: 0.4);
    }
    &:active {
      transform: translateY(-0.2rem);
      box-shadow: 0.2rem 0.6rem 1.5rem rgba($color: #000000, $alpha: 0.3);
    }
  }
}

.link {
  transition: all 0.2s;
  display: inline-block;
  &:hover {
    transform: scale(1.1) translateY(-0.3rem);
    font-size: inherit;
    text-decoration: none;
    text-shadow: 0 1rem 2rem rgba($color: #000, $alpha: 0.3);
  }
}
// **********---SCROLLBAR---********** //

.simplebar-scrollbar {
  transition: none !important;
  &::before {
  }
}
