@use "../../../../styles/animations";
@import url("https://fonts.googleapis.com/css2?family=Headland+One&family=Pacifico&display=swap");

.card {
  width: max-content;
  position: relative;
  display: flex;
  transition: all 0.8s;
  box-shadow: 1rem 1rem 6rem rgba($color: #000000, $alpha: 0.4);
  z-index: 10;
  &:hover {
    transform: perspective(2000px) scale(1.1);
    box-shadow: 2rem 2rem 6rem rgba($color: #000000, $alpha: 0.5);
  }

  &__back {
    width: 30rem;
    height: 35rem;
    background-color: #e0e1dc;
    position: relative;
    box-shadow: inset 27.5rem 0 50px rgba(0, 0, 0, 0.5);
    transition: all 0.8s;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.8s !important;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 100%;
      height: 5px;
      background: #bac1ba;
      transform-origin: bottom;
      transform: skewX(-45deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      width: 5px;
      height: 100%;
      background: #92a29c;
      right: -5px;
      transform-origin: left;
      transform: skewY(-45deg);
    }
    &__description {
      font-family: "Pacifico", cursive;
    }
    &__headings {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-family: "Headland One", serif;
    }
    &__title {
      font-size: inherit;
    }
    &__author {
      font-size: inherit;
    }
    &__extra-info {
      display: flex;
      justify-content: space-between;
    }
  }

  &__front {
    perspective: 150rem;
    width: 30rem;
    height: 35rem;
    position: absolute;
    z-index: 100;

    &__front {
      backface-visibility: hidden;
      transition: all 0.8s;
      transform-origin: left;
      width: 100%;
      height: 100%;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      box-shadow: inset 1rem 1rem 6rem rgba($color: #000000, $alpha: 0.4);
    }
    &__back {
      backface-visibility: hidden;

      width: 100%;
      height: 100%;
      background-color: #838480;
      border-right: 1px solid;

      position: absolute;
      top: 0;
      left: -100%;

      transform-origin: right;

      transform: rotateY(180deg);

      transition: all 0.8s;
      //   border-top-left-radius: 0.5rem;
      //   border-bottom-left-radius: 0.5rem;

      &::before {
        content: "";
        position: absolute;
        top: -2.5px;
        left: 0;
        width: 100%;
        height: 2.5px;
        background: #bac1ba;
        transform-origin: bottom;
        transform: skewX(35deg);
      }
      &::after {
        content: "";
        position: absolute;
        top: 0px;
        width: 2.5px;
        height: 100%;
        background: #92a29c;
        left: -2.5px;
        transform-origin: right;
        transform: skewY(35deg);
      }
    }
  }
  &:hover &__back {
    box-shadow: inset 3.5rem 0 30px rgba(0, 0, 0, 0.5);
  }
  &:hover &__front__front {
    transform: rotateY(-135deg);
  }
  &:hover &__front__back {
    transform: rotateY(45deg);
    transition: all 0.8s;
  }
}
.pinned-books__item {
  display: block;
  &__hide {
    animation: disappearance2 0.5s;
    animation-fill-mode: forwards;
    &--hard {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__show {
    animation: appearance2 0.5s;

    animation-fill-mode: forwards;
  }
}
