.pinned-books {
  display: flex;
  gap: 10rem;
  list-style: none;
  user-select: none;
  padding: 10rem 0;
  transition: all 0.4s;

  &__list-wrapper {
    width: 110rem;
    margin: auto;
    @media screen and (max-width: 1750px) {
      width: 70rem;
    }
    @media screen and (max-width: 1450px) {
      width: 30rem;
    }
    @media screen and (max-width: 1350px) {
      width: 25rem;
    }
  }
  &__wrapper {
    position: relative;

    width: 100vw;
    overflow: hidden;
  }
  &__chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    transition: none;
    z-index: 1000;
    &:hover {
      fill: black;
    }

    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
    &--last {
      opacity: 0.2 !important;
    }
    &--first {
      opacity: 0.2 !important;
    }
    &__wrapper {
      max-width: 130rem;
      margin: auto;
      position: relative;
      @media screen and (max-width: 1750px) {
        max-width: 110rem;
      }
      @media screen and (max-width: 1450px) {
        max-width: 70rem;
      }
    }
  }

  // &__item {
  //   height: 45rem;
  //   min-width: 35rem;
  //   perspective: 150rem;
  //   position: relative;
  //   -moz-perspective: 150rem;
  //   border-radius: 0.3rem;
  //   &__side {
  //     backface-visibility: hidden;
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     transition: all 0.8s ease;
  //     border-radius: 0.3rem;
  //     box-shadow: 0 1.5rem 2.5rem rgba($color: #000000, $alpha: 0.2);

  //     &--back {
  //       transform: rotateY(180deg);
  //       padding: 1rem 1.5rem;
  //       font-size: var(--font-default);
  //       display: grid;
  //       grid-template-columns: 1fr 1fr;
  //       align-items: center;
  //     }
  //   }

  //   &:hover &__side--front {
  //     transform: rotateY(-180deg);
  //   }
  //   &:hover &__side--back {
  //     transform: rotateY(0);
  //   }
  //   &__image {
  //     width: 100%;
  //     height: 100%;
  //     border-radius: 0.3rem;
  //   }
  //   &__title {
  //     cursor: pointer;
  //     display: block;
  //     white-space: nowrap;
  //     overflow: hidden;
  //     text-overflow: ellipsis;
  //     grid-column: 1/3;
  //     grid-row: 1/2;
  //   }
  //   &__author {
  //     cursor: pointer;
  //     display: block;
  //     white-space: nowrap;
  //     overflow: hidden;
  //     text-overflow: ellipsis;
  //     grid-column: 1/3;
  //     grid-row: 2/3;
  //   }
  //   &__description {
  //     grid-column: 1/3;
  //     grid-row: 3/4;
  //     padding: 1.5rem 0;
  //   }
  //   &__language {
  //   }
  //   &__pages {
  //     justify-self: flex-end;
  //   }
  //   &__link {
  //     grid-row: 5/6;
  //     grid-column: 1/3;
  //     align-self: center;
  //   }
  // }
}

[theme-pinned-books="light"] {
  background-color: var(--color-theme-light);
}
[theme-pinned-books="dark"] {
  background-color: var(--color-theme-dark);
}

[theme-chevron="light"] {
  fill: var(--color-item-theme-dark);
  transition: all 0.4s;
  opacity: 0.6;
  &:hover {
    fill: var(--color-theme-dark);
    opacity: 1;
  }
}
[theme-chevron="dark"] {
  fill: var(--color-item-theme-light);
  opacity: 0.6;
  transition: all 0.4s;

  &:hover {
    opacity: 1;
    fill: var(--color-item-theme-light);
  }
}

[theme-pinned-book="light"] {
  background-color: var(--color-item-theme-light);
  color: var(--color-item-theme-dark);
}
[theme-pinned-book="dark"] {
  background-color: var(--color-item-theme-dark);
  color: var(--color-item-theme-light);
}
