.wishlist {
  position: absolute;
  top: 200%;
  z-index: 1000;
  padding-right: 0.22rem;
  padding-top: 0.5rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translate(2.5rem, -2.5rem);
  box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.3);
  pointer-events: none;

  &__hover {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
  }
  &--active {
    opacity: 1 !important;
  }
  &__wrapper {
    display: flex;
    position: relative;
    @media screen and (max-width: 1400px) {
      display: none;
    }
  }
  &__pinned-books {
    &__wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100%;
    }
  }
  &__chevron {
    opacity: 0.6;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  &__heading {
    font-size: 2rem;
    margin-left: 1rem;
  }
  &__icon {
    opacity: 0.6;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    @media screen and (max-width: 1400px) {
      // display: none;
    }
    &:hover {
      opacity: 1;
    }
    &--current {
      opacity: 1;
    }
  }
  &__img {
    width: 12rem !important;
    height: 13rem;
  }
  &__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin: 0 1.3rem 1rem 1rem;
    border-radius: 0.3rem;
    position: relative;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5rem;
  }

  &__heading-1,
  &__heading-2 {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    font-family: "Times New Roman", Times, serif;
    font-size: var(--font-default);
    position: relative;
    &::before {
      display: block;
      content: "";
      width: 100%;
      height: 0.1rem;
      position: absolute;
      top: 98%;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
    }
    &:hover::before {
      transform: scaleX(1);
    }
  }

  &__details-btn {
    align-self: flex-start;
    font-size: var(--font-default);
    padding: 0.3rem 0.6rem !important;
  }
  &__remove-btn {
    position: absolute;
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    top: -0.7rem;
    right: 0.5rem;
    cursor: pointer;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

[theme-wishlist="light"] {
  background-color: var(--color-theme-light);
  color: var(--color-theme-dark);
  * a {
    color: var(--color-theme-dark);
    text-decoration: none;
  }
}
[theme-wishlist="dark"] {
  background-color: var(--color-theme-dark);
  color: var(--color-theme-light);
  * a {
    color: var(--color-theme-light);
    text-decoration: none;
  }
}

[theme-wishlist-item="light"] {
  background-color: var(--color-item-theme-light);
}
[theme-wishlist-item="dark"] {
  background-color: var(--color-item-theme-dark);
}

[theme-heading-border="light"] {
  &::before {
    background-color: var(--color-item-theme-dark);
  }
}
[theme-heading-border="dark"] {
  &::before {
    background-color: var(--color-item-theme-light);
  }
}
