@use "../../styles/animations";

.acc-details {
  padding: 2rem 2.5rem;
  max-width: 70rem;
  margin: 0 auto;
  border-radius: 0.3rem;
  font-size: var(--font-default);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @media screen and (max-width: 600px) {
    padding: 1rem;
  }
  &__wrapper {
    padding: 0 2rem;
    width: 100vw;
    height: 70vh;
    padding-top: 15rem;
  }
  &__id {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__row {
    &__wrapper {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr min-content;
      @media screen and (max-width: 900px) {
        grid-template-columns: 20rem 1fr min-content;
      }
      @media screen and (max-width: 500px) {
        grid-template-columns: 10rem 1fr min-content;
      }
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }

  &__btn {
    align-self: center;
    margin-top: 2rem;
  }
  &__copy {
    width: max-content;
    font-size: var(--font-default);
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 3.5rem;
    left: 2rem;
    opacity: 0;
    &__animation {
      animation: 5s linear moveInTop;
    }
  }
  &__btns {
    display: flex;
    gap: 1rem;
    // background-color: orange;
    position: absolute;
    right: 1rem;
  }
  &__close-btn,
  &__change-btn {
    font-size: 2.8rem;
    font-weight: 600;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  &__edit-btn {
    opacity: 0.4;
    width: 18px;
    height: 18px;
    &:hover {
      opacity: 1;
    }
  }
  &__copy-btn {
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  &__input {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    outline: none;
    font-size: var(--font-default);
    width: 82%;
    margin-left: -1.2rem;
  }
  &__data {
    height: 2.9rem;
    display: flex;
    align-items: center;
  }
  &__eye {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
  }
}

[theme-acc-details__wrapper="light"] {
  background-color: var(--color-theme-light);
  color: var(--color-theme-dark);
}

[theme-acc-details__wrapper="dark"] {
  background-color: var(--color-theme-dark);
  color: var(--color-light-dark);
}

[theme-acc-details="light"] {
  background-color: var(--color-item-theme-light);
  color: var(--color-theme-dark);
}

[theme-acc-details="dark"] {
  background-color: var(--color-item-theme-dark);
  color: var(--color-theme-light);
}

[theme-acc-details__row="light"] {
  &:hover {
    background-color: var(--color-theme-light);
  }
  &:hover .acc-details__input {
    background-color: var(--color-item-theme-light) !important;
  }
}

[theme-acc-details__row="dark"] {
  &:hover {
    background-color: var(--color-theme-dark);
  }
  &:hover .acc-details__input {
    background-color: var(--color-item-theme-dark) !important;
  }
}

[theme-acc-details__input="light"] {
  background-color: var(--color-theme-light);
  color: var(--color-theme-dark);
}

[theme-acc-details__input="dark"] {
  background-color: var(--color-theme-dark);
  color: var(--color-theme-light);
}
