.loading-bar {
  background: repeating-linear-gradient(
    to right,
    var(--color-item-theme-light) 0%,
    var(--color-item-theme-dark) 25%,
    var(--color-item-theme-light) 50%,
    var(--color-item-theme-dark) 75%,
    var(--color-item-theme-light) 100%
  );
  height: 1rem;
  width: 100%;
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2.5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
