@use "../../styles/animations";

.book {
  display: grid;
  margin: auto;
  grid-template-columns: min-content 1fr;
  align-items: center;
  font-size: 1.5rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1.5rem rgba($color: #000000, $alpha: 0.3);
  column-gap: 2.5rem;
  transition: all 0.2s;
  background-color: var(--color-white-dark);
  position: relative;
  cursor: pointer;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  &:hover {
    transform: scale(1.01) translateY(-0.3rem);
    box-shadow: 0 1rem 2.5rem rgba($color: #000000, $alpha: 0.5);
  }

  &__image {
    width: 20rem;
    height: 25rem;
    align-self: center;
    justify-self: center;

    &:hover {
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  & a {
    text-decoration: none;
  }
  &__checkbox {
    display: none;
  }

  &__heart,
  &__pin-icon {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
  }

  &__pin-icon {
    right: 6rem;
    transition: none;
  }
  &__pin {
    fill: black;
    stroke: none !important;
  }
  &__unpin {
    fill: var(--color-item-theme-dark);
    &:hover {
      stroke: #000;
    }
  }

  &__heart--outlined {
    fill: var(--color-theme-dark);
    stroke-width: 1px;
  }
  &__heart--outlined:hover {
    transition: none !important;
    fill: #000;

    animation: bounce 1s infinite;
  }

  &__checkbox:checked ~ label &__heart {
    visibility: visible;

    opacity: 1;
  }
  &__btn-more {
    align-self: flex-start;
  }
}
[theme-list-item="light"] {
  background-color: var(--color-item-theme-light) !important;
  color: var(--color-theme-dark) !important;
  transition: all 0.4s;
}
[theme-list-item="dark"] {
  background-color: var(--color-item-theme-dark) !important;
  color: var(--color-theme-light) !important;
  transition: all 0.4s;
}

[pin-theme="dark"] {
  stroke: var(--color-theme-dark);
  stroke-width: 0.1rem;
}
[pin-theme="light"] {
  stroke: var(--color-theme-dark);
  stroke-width: 0.1rem;
}
