.books-list {
  width: 90vw;
  margin: auto;
  margin-top: 5rem;
  padding: 2.5rem 4rem;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(63rem, 1fr));

  gap: 4.5rem;
}
