@use "../../../../styles/animations";
.filter {
  font-size: var(--font-default);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.4rem;
  position: relative;
  z-index: 900;
  width: 22rem;
  &:hover &__chevron {
    opacity: 1;
  }
  &__icon {
    display: flex;
    align-items: center;
    gap: 2rem;
    white-space: nowrap;
    justify-content: space-between;
  }

  &__img {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  &__options {
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.3);
    font-size: var(--font-default);
    width: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transform-origin: top;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translate(0.5rem, -1rem);

    &__visible {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
    &__wrapper {
      height: max-content;
    }

    &__option {
      display: grid;
      grid-template-columns: min-content 1fr 1fr;
      align-items: center;
      gap: 1.5rem;
      opacity: 0.6;
      white-space: nowrap;
      position: relative;
      padding: 0.5rem 1rem;
      &:hover {
        opacity: 1;
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scaleX(0.01);
        transform-origin: left;
        z-index: -1;
      }
      &:hover::before {
        transform: scaleX(100%);
      }
    }
  }
  &__chevron {
    opacity: 0.6;
    justify-self: flex-end;
  }
  &__page-count,
  &__year-count {
    z-index: 100;
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(0.5rem, -1rem);
    opacity: 0;
    visibility: hidden;

    &--visible {
      opacity: 1;
      visibility: visible;
      transform: translate(0);
    }
    &__options {
      &__option {
        padding: 1rem 1.5rem;
        &:not(:last-of-type) {
          padding-bottom: 1rem;
        }
        &__radio-btn {
          width: 1.4rem;
          height: 1.4rem;
          background-color: var(--color-theme-light);
          border-radius: 50%;
          position: relative;
          display: inline-block;
          &::before {
            content: "";
            width: 75%;
            height: 75%;
            border-radius: 50%;
            background-color: var(--color-item-theme-dark);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
          }
          &__text {
            justify-self: flex-start;
          }
        }
      }
      &__option > input {
        display: none;
      }
      &__option > label {
        display: grid;
        grid-template-columns: min-content 1fr;
        justify-items: flex-start;
        gap: 2.5rem;
        cursor: pointer;
        align-items: center;
      }
      &__option > input:checked ~ label > &__option__radio-btn {
        &::before {
          animation: scaling 0.4s ease forwards;
        }
      }
    }
  }
}

[theme-filter="dark"] {
  background-color: var(--color-item-theme-dark);
  color: var(--color-theme-light);
}

[theme-filter="light"] {
  background-color: var(--color-item-theme-light);
  color: var(--color-theme-dark);
}

[theme-filter__border="dark"] {
  background-color: var(--color-item-theme-light);
}

[theme-filter__border="light"] {
  background-color: var(--color-item-theme-dark);
}

[theme-filter-option="light"] {
  &::before {
    background-color: var(--color-theme-light);
  }
}

[theme-filter-option="dark"] {
  &::before {
    background-color: var(--color-theme-dark);
  }
}
