.form {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
  @media screen and (max-width: 600px) {
    // margin: 0;
  }
  &__wrapper {
    width: 100vw;
    height: 70vh;
    padding-top: 5rem;
  }
  &__links {
    display: flex;
    justify-content: space-evenly;
    & a {
      color: inherit;
      text-decoration: none;
      font-weight: 800;
      font-size: 2.5rem;
      transition: all 1s;
    }
  }
  input {
    filter: none;
    font-size: inherit;
    border: none;
    padding: 1.5rem;
    // margin-bottom: 2rem;
    background-color: transparent;
    width: 100%;
  }

  &__btn {
    background-color: inherit;
    border-radius: 2rem;
    border: none;
    padding: 1.5rem 8rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin: 0 auto;
  }

  &__error {
    font-size: 1.4rem;
    color: red;
    margin-left: 5%;
  }

  &__element__wrapper {
    position: relative;
  }

  &__eye-slash,
  &__eye {
    width: 2.3rem;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      opacity: 1;
    }
  }
}

[theme-form="light"] {
  background-color: var(--color-theme-light);
  color: var(--color-theme-light);
}
[theme-form="dark"] {
  background-color: var(--color-theme-dark);
  color: var(--color-theme-light);
}
[theme-form-input="light"] {
  box-shadow: inset 2px 2px 5px var(--color-grey-light),
    inset -4px -4px 4px var(--color-theme-form-light);
  border-radius: 2rem;
  transition: all 0.2s;
  color: var(--color-theme-form-dark);

  &:focus {
    outline: 0;
    box-shadow: inset 1px 1px 2.5px var(--color-grey-light),
      inset -2.5px -2.5px 5px var(--color-theme-form-light);
  }
}

[theme-form-input="dark"] {
  box-shadow: inset 3px 3px 5px var(--color-theme-form-dark),
    inset -4px -4px 4px var(--color-item-theme-dark);
  border-radius: 2rem;
  transition: all 0.2s;
  color: var(--color-theme-form-light);

  &:focus {
    outline: 0;
    box-shadow: inset 1.5px 1.5px 3px var(--color-theme-form-dark),
      inset -2.5px -2.5px 5px var(--color-item-theme-dark);
  }
}

[theme-form-sign-in="light"] {
  box-shadow: -1rem -1rem 2rem var(--color-theme-form-light),
    1rem 1rem 2rem var(--color-grey-light);
  transition: all 0.2s;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    box-shadow: -0.3rem -0.3rem 0.5rem var(--color-theme-form-light),
      0.3rem 0.3rem 0.5rem var(--color-grey-light);
  }
  &:active {
    box-shadow: inset 1px 1px 2.5px var(--color-grey-light),
      inset -1px -1px 2.5px var(--color-theme-form-light);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transition: all 0.2s;

    &:hover {
      box-shadow: -1rem -1rem 2rem var(--color-white),
        1rem 1rem 2rem var(--color-grey-light);
    }
  }
}

[theme-form-sign-in="dark"] {
  box-shadow: -1rem -1rem 2rem var(--color-item-theme-dark),
    1rem 1rem 2rem var(--color-theme-form-dark);
  transition: all 0.2s;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-item-theme-light);

  &:hover {
    box-shadow: -0.3rem -0.3rem 0.5rem var(--color-item-theme-dark),
      0.3rem 0.3rem 0.5rem var(--color-theme-form-dark);
  }
  &:active {
    box-shadow: inset 1px 1px 2.5px var(--color-theme-form-dark),
      inset -1px -1px 2.5px var(--color-item-theme-dark);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transition: all 0.2s;

    &:hover {
      box-shadow: -1rem -1rem 2rem var(--color-item-theme-dark),
        1rem 1rem 2rem var(--color-theme-form-dark);
    }
  }
}

[theme-form-links="light"] {
  & .inactive {
    -webkit-text-stroke: 0.4px var(--color-item-theme-dark);
    text-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
    color: var(--color-theme-light);
    &:hover {
      -webkit-text-stroke: 0.6px black;
      text-shadow: 0 0.5rem 1.5rem rgba($color: #000000, $alpha: 0.2);
      display: block;
      transform: scale(1.1);
    }
  }
  & .active {
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0 0.5rem 1.5rem rgba($color: #000000, $alpha: 0.2);
    display: block;
    transform: scale(1.1);
  }
}

[theme-form-links="dark"] {
  & .inactive {
    -webkit-text-stroke: 0.4px var(--color-item-theme-light);
    text-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
    color: var(--color-theme-dark);

    &:hover {
      -webkit-text-stroke: 0.6px var(--color-item-theme-light);
      text-shadow: 0 0.5rem 1.5rem rgba($color: #000000, $alpha: 0.2);
      display: block;
      transform: scale(1.1);
      color: var(--color-theme-dark);
    }
  }
  & .active {
    -webkit-text-stroke: 0.6px var(--color-item-theme-light);
    text-shadow: 0 0.5rem 1.5rem rgba($color: #000000, $alpha: 0.2);
    display: block;
    transform: scale(1.1);
    color: var(--color-theme-dark);
  }
}
